__pycache__/
*.py[cod]
_hackable_lm_tokenizer*.so
_hackable_lm_tokenizer*.pyd
_hackable_lm_tokenizer*.dylib
rustbpe/target/

.DS_Store
.venv/
venv/

data/
eval_data/
runs/
mlruns/

*.pt
*.pth
*.bin
*.safetensors
